# Compartilhadas
ADMIN_URL=
ADMIN_USER=
ADMIN_PASSWORD=
MIGRATION_INSTALLED_BY=

# APPLICATION - DEV
APP_DEV_ADMIN_URL=
APP_DEV_ADMIN_USER=
APP_DEV_ADMIN_PASSWORD=
APP_DEV_USER=
APP_DEV_PASSWORD=
APP_DEV_DEFAULT_TABLESPACE=
APP_DEV_TEMP_TABLESPACE=

# APPLICATION - HML
APP_HML_ADMIN_URL=
APP_HML_ADMIN_USER=
APP_HML_ADMIN_PASSWORD=
APP_HML_USER=
APP_HML_PASSWORD=
APP_HML_DEFAULT_TABLESPACE=
APP_HML_TEMP_TABLESPACE=

# APPLICATION - PROD
APP_PROD_ADMIN_URL=
APP_PROD_ADMIN_USER=
APP_PROD_ADMIN_PASSWORD=
APP_PROD_USER=
APP_PROD_PASSWORD=
APP_PROD_DEFAULT_TABLESPACE=
APP_PROD_TEMP_TABLESPACE=

# OWNER - DEV
OWNER_DEV_ADMIN_URL=
OWNER_DEV_ADMIN_USER=
OWNER_DEV_ADMIN_PASSWORD=
OWNER_DEV_USER=
OWNER_DEV_PASSWORD=
OWNER_DEV_DEFAULT_TABLESPACE=
OWNER_DEV_TEMP_TABLESPACE=

# OWNER - HML
OWNER_HML_ADMIN_URL=
OWNER_HML_ADMIN_USER=
OWNER_HML_ADMIN_PASSWORD=
OWNER_HML_USER=
OWNER_HML_PASSWORD=
OWNER_HML_DEFAULT_TABLESPACE=
OWNER_HML_TEMP_TABLESPACE=

# OWNER - PROD
OWNER_PROD_ADMIN_URL=
OWNER_PROD_ADMIN_USER=
OWNER_PROD_ADMIN_PASSWORD=
OWNER_PROD_USER=
OWNER_PROD_PASSWORD=
OWNER_PROD_DEFAULT_TABLESPACE=
OWNER_PROD_TEMP_TABLESPACE=
